*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  pointer-events: none;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 8rem;
  width: 100%;
  box-shadow: 0 0.4rem 0.2rem -0.1rem rgba(95, 23, 39, 0.25);
  background: #ffffff;
  z-index: 10;
}
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 5%;
}
.header .container {
  height: 100%;
}
.header__logo {
  width: 17.6rem;
  height: auto;
}

.nav__list {
  display: flex;
  gap: 1rem;
}
.nav__list a {
  font-size: 1.7rem;
  padding: 1.5rem;
  letter-spacing: 0.1rem;
  color: #660a1f;
}

.hero {
  margin-top: 8rem;
  max-height: 70rem;
  height: calc(100vh - 8rem);
  background: url(/img/hero__img-desktop.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  object-fit: cover;
}
.hero-box {
  display: grid;
  align-items: center;
  justify-items: start;
  height: 100%;
  margin: 0 5%;
}
.hero .container {
  height: 100%;
}
.hero__conteudo {
  max-width: 95ch;
}
.hero__conteudo h1 {
  font-size: 6.4rem;
  line-height: 1.2;
  margin-bottom: 1.6rem;
  font-family: "Arima Madurai", cursive;
  font-weight: 800;
  color: #660a1f;
}
.hero__conteudo p {
  line-height: 1.5;
  margin-bottom: 5.2rem;
  color: #8f253e;
  font-size: 2.4rem;
}
.hero__conteudo button {
  font-size: 2.4rem;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #ffe0eb;
  background: #660a1f;
}

.sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.sobre__img {
  height: 67rem;
  width: auto;
  object-fit: cover;
}
.sobre__conteudo {
  padding-right: 10%;
  max-width: 52.5rem;
  margin-left: 10.5rem;
}
.sobre__conteudo h2 {
  font-family: "Arima Madurai", cursive;
  line-height: 1.2;
  font-size: 4.8rem;
  margin-bottom: 1.6rem;
  color: #a44b28;
}
.sobre__conteudo p {
  font-size: 2rem;
  line-height: 1.5;
  color: #d05d30;
  margin-bottom: 1rem;
}
.sobre__conteudo p:nth-child(3) {
  margin-bottom: 4.8rem;
}
.sobre__conteudo a {
  font-size: 2.2rem;
  color: #a44b28;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 0.2rem solid #a44b28;
}

.cardapio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.cardapio__img {
  height: 67rem;
  width: auto;
  object-fit: cover;
}
.cardapio__conteudo {
  max-width: 52.5rem;
  padding-left: 10%;
}
.cardapio__conteudo h2 {
  font-family: "Arima Madurai", cursive;
  line-height: 1.2;
  font-size: 4.8rem;
  margin-bottom: 1.6rem;
  color: #a31c39;
}
.cardapio__conteudo p {
  font-size: 2rem;
  line-height: 1.5;
  color: #d01647;
  margin-bottom: 4.8rem;
}
.cardapio__conteudo button {
  padding: 1.5rem 3rem;
  background: #a31c39;
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.5rem;
  font-size: 2.2rem;
}

.contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.contato__img {
  height: 67rem;
  width: auto;
  object-fit: cover;
}
.contato__conteudo {
  padding-right: 10%;
  max-width: 52.5rem;
  margin-left: 10.5rem;
}
.contato__conteudo h2 {
  font-family: "Arima Madurai", cursive;
  line-height: 1.2;
  font-size: 4.8rem;
  margin-bottom: 1.6rem;
  color: #244454;
}
.contato__conteudo h3 {
  font-size: 2.4rem;
  color: #244454;
}
.contato__conteudo p {
  font-size: 2rem;
  line-height: 1.5;
  color: #375665;
}
.contato__conteudo li + li {
  margin-top: 3.6rem;
}
.contato__list {
  margin-top: 4.8rem;
}
.contato__item {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: start;
  gap: 1rem 1.5rem;
}
.contato__item img {
  grid-row: 1/-1;
}
.contato__item--mg p:first-child {
  margin-bottom: 0.5rem;
}

.depoimentos {
  background: #F99C00;
  text-align: center;
}
.depoimentos-box {
  margin: 0 5%;
  padding: 7.6rem 0;
}
.depoimentos-box h2 {
  font-family: "Arima Madurai", cursive;
  line-height: 1.2;
  font-size: 4.8rem;
  color: #ffffff;
  margin-bottom: 8rem;
}
.depoimentos__card {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 27.5rem;
  background: #ffffff;
  border-radius: 0.5rem;
  position: relative;
}
.depoimentos__card-conteudo {
  padding: 3rem 2rem;
}
.depoimentos__card-conteudo h3 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}
.depoimentos__card-conteudo p {
  font-size: 1.8rem;
  line-height: 1.5;
  color: #474747;
}
.depoimentos__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

.pessoa {
  display: grid;
  place-items: center;
  padding: 2rem;
  background: #591600;
  border-radius: 0.5rem;
}
.pessoa.azul {
  background: #014B7C;
}
.pessoa.amarelo {
  background: #FFD000;
}
.pessoa.laranja {
  background: #EA601B;
}
.pessoa__bg {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 27.5rem;
  height: 17rem;
  background: #244454;
  z-index: -1;
}
.pessoa__img {
  width: 15rem;
  height: auto;
  z-index: 2;
}

/*# sourceMappingURL=style.css.map */
