:root {
  --mg-lados: 5% ;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

body {
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  pointer-events: none;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 144rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  z-index: 10;
  box-shadow: 0 0.4rem 0.2rem -0.1rem rgba(95, 23, 39, 0.25);
  background: #ffffff;
}
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 var(--mg-lados);
}
.header .container {
  height: 100%;
}
.header__logo {
  width: 17.6rem;
  height: auto;
}

.nav__list {
  gap: 1rem;
  display: flex;
}
.nav__list a {
  padding: 1.5rem;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  color: #660a1f;
  position: relative;
}
.nav__list a::after {
  content: "";
  position: absolute;
  bottom: 0.5rem;
  left: 1.5rem;
  height: 0.3rem;
  width: 0%;
  transition: 0.3s;
  border-radius: 0.5rem;
  background: #660a1f;
}
.nav__list a:hover::after {
  width: calc(100% - 3rem);
}

#menu__mobile {
  display: none;
  z-index: 20;
  border: none;
  cursor: pointer;
  background: none;
}
#menu__mobile img {
  display: none;
}
#menu__mobile img.on {
  display: block;
}

.subtitulo {
  line-height: 1.2;
  font-size: 4.8rem;
  font-family: "Arima Madurai", cursive;
}

.btn {
  font-size: 2.2rem;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  background: #660a1f;
}
.btn:hover {
  background: #8f253e;
}

.hero {
  margin-top: 8rem;
  max-height: 70rem;
  height: calc(100vh - 8rem);
  background: url(/img/hero__img-desktop.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
.hero-box {
  display: grid;
  align-items: center;
  justify-items: start;
  height: 100%;
  margin: 0 var(--mg-lados);
}
.hero .container {
  height: 100%;
}
.hero__conteudo {
  max-width: 95ch;
}
.hero__conteudo h1 {
  font-weight: 800;
  font-size: 6.4rem;
  line-height: 1.2;
  margin-bottom: 1.6rem;
  font-family: "Arima Madurai", cursive;
  color: #660a1f;
}
.hero__conteudo p {
  font-size: 2.4rem;
  line-height: 1.5;
  margin-bottom: 5.2rem;
  color: #8f253e;
}
.hero__conteudo button {
  color: #ffe0eb;
}

.sobre,
.cardapio,
.contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.sobre__img,
.cardapio__img,
.contato__img {
  height: 67rem;
  width: 100%;
  object-fit: cover;
}
.sobre__conteudo,
.cardapio__conteudo,
.contato__conteudo {
  padding: 10%;
  max-width: 65rem;
}

.sobre__conteudo h2 {
  margin-bottom: 1.6rem;
  color: #a44b28;
}
.sobre__conteudo p {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #c45428;
}
.sobre__conteudo p:nth-child(3) {
  margin-bottom: 4.8rem;
}
.sobre__conteudo a {
  font-weight: 700;
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #a44b28;
  border-bottom: 0.2rem solid #a44b28;
}
.sobre__conteudo a:hover {
  color: #c45428;
  border-color: #c45428;
}

.cardapio__conteudo h2 {
  margin-bottom: 1.6rem;
  max-width: 52.5rem;
  color: #a31c39;
}
.cardapio__conteudo p {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
  color: #d01647;
}
.cardapio__conteudo a {
  color: #ffffff;
}

.contato__conteudo h2 {
  margin-bottom: 4.8rem;
  color: #244454;
}
.contato__conteudo h3 {
  font-size: 2.4rem;
  color: #244454;
}
.contato__conteudo p {
  font-size: 2rem;
  line-height: 1.5;
  color: #375665;
}
.contato__conteudo li + li {
  margin-top: 3.6rem;
}
.contato__item {
  display: grid;
  grid-template-columns: 3.7rem auto;
  grid-template-rows: auto auto;
  justify-content: start;
  gap: 1rem 1.5rem;
}
.contato__item svg {
  grid-row: 1/-1;
  justify-self: center;
}
.contato__item--mg p:first-child {
  margin-bottom: 0.5rem;
}

.depoimentos {
  text-align: center;
  background: #f99c00;
}
.depoimentos-box {
  margin: 0 var(--mg-lados);
  padding: 7.6rem 0;
}
.depoimentos-box h2 {
  margin-bottom: 8rem;
  color: #593800;
}
.depoimentos__card {
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 29.4rem;
  border-radius: 0.5rem;
  position: relative;
  background: #ffffff;
}
.depoimentos__card-conteudo {
  padding: 3rem 2.5rem;
}
.depoimentos__card-conteudo h3 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}
.depoimentos__card-conteudo q {
  line-height: 1.5;
  font-size: 1.8rem;
  color: #474747;
}
.depoimentos__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 4rem;
}

.pessoa {
  display: grid;
  place-items: center;
  padding: 2rem;
  border-radius: 0.5rem;
  background: #591600;
}
.pessoa.azul {
  background: #014b7c;
}
.pessoa.amarelo {
  background: #ffd000;
}
.pessoa.laranja {
  background: #ea601b;
}
.pessoa__img {
  z-index: 2;
  width: 15rem;
  height: auto;
}

.footer {
  background: #f99c00;
  background-position: top;
  background-repeat: repeat;
  background-image: url(/img/footer__bg-desktop.svg);
  position: relative;
}
.footer-box {
  margin: 0 var(--mg-lados);
  padding: 9.1rem 0 7.2rem 0;
}
.footer-box a:hover path {
  fill: #ffffff;
}
.footer__conteudo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
  position: relative;
}
.footer__redes {
  display: flex;
  gap: 1.5rem;
}
.footer__me {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.6rem;
  margin-top: 3rem;
  color: #ffffff;
}
.footer__me--azul {
  font-weight: bold;
  color: #6aacc4;
}
.footer__me-contatos {
  display: flex;
  gap: 1.5rem;
}

.linha {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  border-radius: 0.5rem;
  background: #ffffff;
}

@media screen and (max-width: 1250px) {
  .hero {
    background-position: center;
  }
  .depoimentos__list {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 950px) {
  html {
    scroll-padding-top: 7rem;
  }
  .header {
    height: 7rem;
  }
  .header-box {
    position: relative;
  }
  #menu__mobile {
    display: block;
  }
  .nav {
    display: none;
    position: absolute;
    top: 0;
    left: 30%;
    min-height: 100vh;
    width: calc(100vw - 30%);
    transition: all 0.3s;
    background: #ffffff;
    box-shadow: 0 0 0 100rem rgba(0, 0, 0, 0.2);
    z-index: 19;
  }
  .nav.ativo {
    display: block;
  }
  .nav__list {
    flex-direction: column;
    align-items: center;
    padding-top: 15rem;
  }
  .hero {
    background-image: url(/img/hero__img-mobile.png);
  }
  .hero-box {
    justify-items: center;
  }
  .hero__conteudo {
    max-width: 110ch;
  }
  .sobre,
.cardapio,
.contato {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
  }
  .sobre picture,
.cardapio picture,
.contato picture {
    width: 100%;
    order: -1;
  }
  .sobre__conteudo,
.cardapio__conteudo,
.contato__conteudo {
    max-width: 70rem;
    padding: 10rem 10%;
  }
  .cardapio__conteudo h2 {
    max-width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .subtitulo {
    font-size: 4rem;
  }
  .hero__conteudo h1 {
    font-size: 5rem;
  }
  .sobre__img,
.cardapio__img,
.contato__img {
    height: 45rem;
  }
  .depoimentos__list {
    grid-template-columns: auto;
  }
  .footer__conteudo {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .hero__conteudo h1 {
    font-size: 4.4rem;
  }
  .hero__conteudo p {
    font-size: 2rem;
  }
  .contato .contato__item {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
  }
  .contato .contato__item h3 {
    font-size: 2rem;
  }
  .contato .contato__item p {
    font-size: 1.8rem;
  }
  .contato .contato__item svg {
    grid-row: 1;
    justify-self: start;
    margin-bottom: 1.5rem;
  }
  .contato__conteudo li + li {
    margin-top: 4.4rem;
  }
  .btn {
    font-size: 2rem;
  }
}
@media screen and (max-width: 375px) {
  .subtitulo {
    font-size: 3.5rem;
  }
  .btn {
    font-size: 1.8rem;
  }
  .sobre__conteudo p,
.cardapio__conteudo p {
    font-size: 1.8rem;
  }
  .sobre__conteudo a,
.cardapio__conteudo a {
    font-size: 2rem;
  }
  .hero__conteudo h1 {
    font-size: 4rem;
  }
  .hero__conteudo p {
    font-size: 1.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
