*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    min-height: 100vh;

}
img{
    display: block;
    max-width: 100%;
    pointer-events: none;
}
li{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
.container{
    max-width: 144rem;
    margin: 0 auto;
}
