.footer {
  background: $c-dourado;
  background-position: top;
  background-repeat: repeat;
  background-image: url(/img/footer__bg-desktop.svg);
  position: relative;
  &-box {
    margin: 0 var(--mg-lados);
    padding: 9.1rem 0 7.2rem 0;
    a:hover path {
      fill: $c-branco;
    }
  }
  &__conteudo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
    position: relative;
  }
  &__redes {
    display: flex;
    gap: 1.5rem;
  }
  &__me {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.6rem;
    margin-top: 3rem;
    color: $c-branco;
    &--azul {
      font-weight: bold;
      color: $c-azul4;
    }
    &-contatos {
      display: flex;
      gap: 1.5rem;
    }
  }
}
.linha {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  border-radius: 0.5rem;
  background: $c-branco;
}
