.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  z-index: 10;
  box-shadow: 0 0.4rem 0.2rem -0.1rem rgba(95, 23, 39, 0.25);
  background: $c-branco;
  &-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 var(--mg-lados);
  }
  .container {
    height: 100%;
  }
  &__logo {
    width: 17.6rem;
    height: auto;
  }
}
.nav {
  &__list {
    gap: 1rem;
    display: flex;
    a {
      padding: 1.5rem;
      font-size: 1.7rem;
      letter-spacing: 0.1rem;
      color: $c-rosa1;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0.5rem;
        left: 1.5rem;
        height: 0.3rem;
        width: 0%;
        transition: 0.3s;
        border-radius: 0.5rem;
        background: $c-rosa1;
      }
      &:hover::after {
        width: calc(100% - 3rem);
      }
    }
  }
}

#menu__mobile {
  display: none;
  z-index: 20;
  border: none;
  cursor: pointer;
  background: none;
  img {
    display: none;
    &.on {
      display: block;
    }
  }
}
