.hero {
  margin-top: 8rem;
  max-height: 70rem;
  height: calc(100vh - 8rem);
  background: url(/img/hero__img-desktop.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  object-fit: cover;
  &-box {
    display: grid;
    align-items: center;
    justify-items: left;
    height: 100%;
    margin: 0 7%;
  }
  .container {
    height: 100%;
  }
  &__conteudo {
    max-width: 95ch;
    h1 {
      font-size: 6.4rem;
      line-height: 1.2;
      margin-bottom: 1.6rem;
      font-family: $font-titulo;
      font-weight: 800;
      color: $c-rosa1;
    }
    p {
      line-height: 1.5;
      margin-bottom: 5.2rem;
      color: $c-rosa2;
      font-size: 2.4rem;
    }
    button {
      font-size: 2.4rem;
      padding: 1.5rem 3rem;
      border-radius: 0.5rem;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      color: $c-rosa3;
      background: $c-rosa1;
    }
  }
}

.sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  &__img {
    height: 67rem;
    object-fit: cover;
  }
  &__conteudo {
    padding: 0 10rem;
    h2 {
      font-family: $font-titulo;
      line-height: 1.2;
      font-size: 4.8rem;
      margin-bottom: 1.6rem;
      color: $c-laranja;
    }
    p {
      font-size: 2rem;
      line-height: 1.5;
      color: $c-laranja2;
      margin-bottom: 1rem;
    }
    & p:nth-child(3) {
      margin-bottom: 4.8rem;
    }
    a {
      font-size: 2.2rem;
      color: $c-laranja;
      text-transform: uppercase;
      font-weight: 700;
      border-bottom: 0.2rem solid $c-laranja;
    }
  }
}

.cardapio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  &__img {
    height: 67rem;
    object-fit: cover;
  }
  &__conteudo {
    padding: 0 10rem;
    h2 {
      font-family: $font-titulo;
      line-height: 1.2;
      font-size: 4.8rem;
      margin-bottom: 1.6rem;
      color: $c-rosa4;
    }
    p {
      font-size: 2rem;
      line-height: 1.5;
      color: $c-rosa5;
      margin-bottom: 4.8rem;
    }
    button {
      padding: 1.5rem 3rem;
      background: $c-rosa4;
      color: $c-branco;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      border-radius: 0.5rem;
      font-size: 2.2rem;
    }
  }
}
