.subtitulo {
  line-height: 1.2;
  font-size: 4.8rem;
  font-family: $font-titulo;
}

.btn {
  font-size: 2.2rem;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  background: $c-rosa1;
  &:hover {
    background: $c-rosa2;
  }
}

.hero {
  margin-top: 8rem;
  max-height: 70rem;
  height: calc(100vh - 8rem);
  background: url(/img/hero__img-desktop.jpg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  &-box {
    display: grid;
    align-items: center;
    justify-items: start;
    height: 100%;
  }
  .container {
    height: 100%;
  }
  &__conteudo {
    max-width: 65rem;
    padding: 0 5%;
    h1 {
      font-weight: 800;
      font-size: 6.4rem;
      line-height: 1.2;
      margin-bottom: 1.6rem;
      font-family: $font-titulo;
      color: $c-rosa1;
    }
    p {
      font-size: 2.4rem;
      line-height: 1.5;
      margin-bottom: 5.2rem;
      color: $c-rosa2;
    }
    button {
      color: $c-rosa3;
    }
  }
}
.sobre,
.cardapio,
.contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  &__img {
    height: 67rem;
    width: 100%;
    object-fit: cover;
  }
  &__conteudo {
    padding: 10%;
    max-width: 65rem;
  }
}
.sobre {
  &__conteudo {
    h2 {
      margin-bottom: 1.6rem;
      color: $c-laranja;
    }
    p {
      font-size: 2rem;
      line-height: 1.5;
      margin-bottom: 1rem;
      color: $c-laranja2;
    }
    & p:nth-child(3) {
      margin-bottom: 4.8rem;
    }
    a {
      font-weight: 700;
      font-size: 2.2rem;
      text-transform: uppercase;
      color: $c-laranja;
      border-bottom: 0.2rem solid $c-laranja;
      &:hover {
        color: $c-laranja2;
        border-color: $c-laranja2;
      }
    }
  }
}

.cardapio {
  &__conteudo {
    h2 {
      margin-bottom: 1.6rem;
      max-width: 52.5rem;
      color: $c-rosa4;
    }
    p {
      font-size: 2rem;
      line-height: 1.5;
      margin-bottom: 4.8rem;
      color: $c-rosa5;
    }
    a {
      color: $c-branco;
    }
  }
}

.contato {
  &__conteudo {
    h2 {
      margin-bottom: 4.8rem;
      color: $c-azul;
    }
    h3 {
      font-size: 2.4rem;
      color: $c-azul;
    }
    p {
      font-size: 2rem;
      line-height: 1.5;
      color: $c-azul2;
    }
    li + li {
      margin-top: 3.6rem;
    }
  }
  &__item {
    display: grid;
    grid-template-columns: 3.7rem auto;
    grid-template-rows: auto auto;
    justify-content: start;
    gap: 1rem 1.5rem;
    svg {
      grid-row: 1/-1;
      justify-self: center;
    }
    &--mg p:first-child {
      margin-bottom: 0.5rem;
    }
  }
}

.depoimentos {
  text-align: center;
  background: $c-dourado;
  &-box {
    margin: 0 var(--mg-lados);
    padding: 7.6rem 0;
    h2 {
      margin-bottom: 8rem;
      color: $c-dourado2;
    }
  }
  &__card {
    display: grid;
    grid-template-rows: auto 1fr;
    max-width: 29.4rem;
    border-radius: 0.5rem;
    position: relative;
    background: $c-branco;
    &-conteudo {
      padding: 3rem 2.5rem;
      h3 {
        font-size: 2.2rem;
        margin-bottom: 1rem;
        line-height: 1.5;
      }
      q {
        line-height: 1.5;
        font-size: 1.8rem;
        color: $c-cinza;
      }
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 4rem;
  }
}
.pessoa {
  display: grid;
  place-items: center;
  padding: 2rem;
  border-radius: 0.5rem;
  background: $c-marrom;
  &.azul {
    background: $c-azul3;
  }
  &.amarelo {
    background: $c-amarelo;
  }
  &.laranja {
    background: $c-laranja3;
  }
  &__img {
    z-index: 2;
    width: 15rem;
    height: auto;
  }
}
